<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
     <h1>hey <%= 5+8 %> </h1>  <!-- by using ejs we also calculate values -->
     <script src="/javasripts/script.js"></script>  <!--link script.js from javascripts folder during 
     write path in ejs file we avodie to write public folder name -->
</body>
</html>