<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"> </script>
</head>

<body>
    <div class="main w-full h-full p-10 bg-zinc-900 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read User</a>
        </div>
        <h1 class="mb-5 font-bold text-2xl">UPDATE USERS</h1>
        <form action="/update/<%=users._id%>" method="post">
            <input class="px-5 py-2 border-2 border-zinc-800 rounded-lg outline-none bg-transparent" type="text"
                name="name" placeholder="name" value="<%= users.name%>">
            <input class="px-5 py-2 border-2 border-zinc-800 rounded-lg outline-none bg-transparent" type="text"
                name="email" placeholder="email" value="<%=users.email%>">
            <input class="px-5 py-2 border-2 border-zinc-800 rounded-lg outline-none bg-transparent" type="text"
                name="image" placeholder="img url" value="<%=users.image%>">
            <input class="px-5 py-2 rounded-lg bg-blue-600" type="submit" value="Update user">
        </form>
    </div>
</body>

</html>